/* CSS Document */
@font-face {
  font-family: "Akkurat-Mono";
  src: url("Akkurat-Mono.OTF");
}


main {
  font-family: "Akkurat-Mono";
	font-size: 100%;

}

.hnamecont{
	position: static;

  margin-left: 10%;

  margin-top: 5%;

}


.flip {
  text-decoration: none;
}

.flip span{
  text-decoration: underline;
}

 .flip>span {
  color: transparent;
  float: none;
}

 .flip:hover>span {
  color: black;
  float: left;
}

.flip>span:first-child {
  color: black;
  float: left;
}

.flip:hover>span:first-child {
  color: transparent;
  float: none;
}


.hname {
  position: static;

  margin-left: 10%;

  margin-top: 5%;




}

.resume{
	padding: 10%;
	text-align: center;
}
.desc {
  margin: auto;
  width: 50%;
  padding-top: 10%


}

.pictitle {
  padding-top: 3%;
  text-align: center;

}
.fitness_body {
  padding-top: 3%;
  padding-left: 45%;
  text-align: left;

}


.gallery {
	margin-top: 2%;
	text-align: center;
	vertical-align: middle;
}


div.gallery img:hover {
	opacity:75%;

}




div.gallery img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
