/* CSS Document */
@font-face {
  font-family: "Akkurat-Mono";
  src: url("Akkurat-Mono.OTF");
}


main {
  font-family: "Akkurat-Mono";
	font-size: 100%;

}

.hname {
	 position: absolute;

  left: 10%;

  top: 5%;

  

 
}

.desc {
  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  padding: 10px;
}

.pictitle {
  position: absolute;

  left: 50%;

  top: 15%;

  transform: translate(-50%, -50%);

  padding: 10px;
}


