/* CSS Document */
@font-face {
  font-family: "Akkurat-Mono";
  src: url("Akkurat-Mono.OTF");
}


main {
  font-family: "Akkurat-Mono";
	font-size: 100%;

}

.hnamecont{
	position: static;

  margin-left: 10%;

  margin-top: 5%;

}


.flip {
  text-decoration: none;
}

.flip span{
  text-decoration: underline;
}

 .flip>span {
  color: transparent;
  float: none;
}

 .flip:hover>span {
  color: black;
  float: left;
}

.flip>span:first-child {
  color: black;
  float: left;
}

.flip:hover>span:first-child {
  color: transparent;
  float: none;
}








.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  font-family: "Akkurat-Mono";
	font-size: 100%;
}

.port_title {
  font-family: "Akkurat-Bold";
}

.oneone {
  grid-column: 1;
  grid-row: 2;
}

.onetwo {
  grid-column: 2 / 3;
  grid-row: 2;
}


.onetwol {
  grid-column: 2 / 3;
  grid-row: 2;
  text-align: left;
}

.twotwo {
  grid-column: 2 / 3;
  grid-row: 3;
}

.threetwo {
  grid-column: 2 / 3;
  grid-row: 4;
}
.fourtwo {
  grid-column: 2 / 3;
  grid-row: 5;
}
.fivetwo {
  grid-column: 2 / 3;
  grid-row: 6;
}
.sixtwo {
  grid-column: 2 / 3;
  grid-row: 7;
}

.seventwo {
  grid-column: 2 / 3;
  grid-row: 8;
}

.eighttwo {
  grid-column: 2 / 3;
  grid-row: 9;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
